<template>
  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <nav class="navbar navbar-expand-lg navbar-light">

            <nuxt-link class="navbar-brand" to="/">
              <img src="/images/favicon.png" alt="Corona Map">
              <span>Africa</span>
            </nuxt-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <span><i class="fas fa-tachometer-alt"></i></span>
                  <nuxt-link class="nav-link" to="/top-10-covid19-africa-cases">Top Africa Countries</nuxt-link>
<!--                  <a class="nav-link" href="index.html">East Africa Analysis </a>-->
                </li>
<!--                <li class="nav-item">-->
<!--                  <span><i class="fas fa-layer-group"></i></span>-->
<!--                  <a class="nav-link" href="widgets.html">Africa Cases</a>-->
<!--                </li>-->

              </ul>
            </div>

          </nav>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
    export default {
        name: "HeaderBar"
    }
</script>

<style scoped>

</style>
