<template>
  <div  id="main-wrapper">
     <headerBar/>
    <nuxt />
<!--    <footerBar/>-->
  </div>
</template>

<script>
  import headerBar from './partials/HeaderBar';
  import footerBar from './partials/FooterBar';
  export default {
    components:{headerBar,footerBar}
  }
</script>
<style>

</style>
