<template>
  <div class="content-body" id="cassava">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-4" v-if="is_country">
          <div class="row">
            <div class="col-xl-12">
              <div class="country-datainfo">
                <div id="country_flag">
                  <img :src="selected_country.countryInfo.flag" class="img-fluid mr-3" width="70">
                </div>
                <h3 class="mb-0" id="country_name">
                  {{  selected_country.country }}
                </h3>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="country-data">
                <div class="icon gradient-1">
                  <i class="fas fa-virus"></i>
                </div>
                <div>
                  <span>Total Cases</span>
                  <h3 id="country_cases">
                    {{ selected_country.cases }}
                  </h3>
                </div>
              </div>
            </div>


            <div class="col-xl-6">
              <div class="country-data">
                <div class="icon gradient-3">
                  <i class="fas fa-bell"></i>
                </div>
                <div>
                  <span>Today Cases</span>
                  <h3 id="country_todayCases">
                    {{ selected_country.todayCases }}
                  </h3>
                </div>
              </div>
            </div>


            <div class="col-xl-6">
              <div class="country-data">
                <div class="icon gradient-9">
                  <i class="fas fa-procedures"></i>
                </div>
                <div>
                  <span>Total Deaths</span>
                  <h3 id="country_deaths">
                    {{ selected_country.deaths }}
                  </h3>
                </div>
              </div>
            </div>


            <div class="col-xl-6">
              <div class="country-data">
                <div class="icon gradient-12">
                  <i class="fas fa-bed"></i>
                </div>
                <div>
                  <span>Today Deaths</span>
                  <h3 id="country_todayDeaths">
                    {{ selected_country.todayDeaths }}
                  </h3>
                </div>
              </div>
            </div>


            <div class="col-xl-6">
              <div class="country-data">
                <div class="icon gradient-4">
                  <i class="fas fa-child"></i>
                </div>
                <div>
                  <span>Recovered</span>
                  <h3 id="country_recovered">
                    {{ selected_country.recovered }}
                  </h3>
                </div>
              </div>
            </div>


            <div class="col-xl-6">
              <div class="country-data">
                <div class="icon gradient-8">
                  <i class="fas fa-head-side-cough"></i>
                </div>
                <div>
                  <span>Active</span>
                  <h3 id="country_active">
                    {{ selected_country.active }}
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="country-data">
                <div class="icon gradient-14">
                  <i class="fas fa-lungs-virus"></i>
                </div>
                <div>
                  <span>Critical</span>
                  <h3 id="country_critical">
                    {{ selected_country.critical }}
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="country-data">
                <div class="icon gradient-9">
                  <i class="fas fa-microscope"></i>
                </div>
                <div>
                  <span>Tests</span>
                  <h3 id="country_deathsPerOneMillion">
                    {{ selected_country.tests }}
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="country-data">
                <div class="icon gradient-15">
                  <i class="fas fa-vial"></i>
                </div>
                <div>
                  <span>Cases Per Million</span>
                  <h3 id="country_casesPerOneMillion">
                    {{ selected_country.casesPerOneMillion }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Africa </h4>
            </div>
            <div class="card-body">
              <div id="continent-map" class="continent-map"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start of HubSpot Embed Code -->
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7594752.js"></script>
        <!-- End of HubSpot Embed Code -->
      </div>


<!--      <div class="row" v-if="selected_country">-->
<!--       {{ selected_country }}-->
<!--      </div>-->
    </div>
  </div>

</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  head () {
    return {
      title: 'Covid 19 Cases in Africa | Cassavahub Limited ',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content: 'The Most Recent Statistics of Covid19 Cases in Africa. Cassavahub Limited delights in developing Customized Website Applications' }
      ]
    }
  },
  data(){
    return {
      countries :[],
      selected_country: {},
      is_country: false,
      mess: 'hello there'
    }
  },
  mounted(){
    let self = this;
     fetch("https://corona.lmao.ninja/v2/countries")
      .then(response=>response.json())
      .then(response=>{
        this.countries = response;
         let country = this.countries.filter(function (el) {
          return el.country == 'Kenya';
          });
         this.selected_country = country[0];
         this.is_country = true;
         // console.log(this.selected_country[0]);
      })
    this.displayAfricaMap();
  },
  methods:{
    displayAfricaMap(){
      let self = this;
      jQuery('#continent-map').vectorMap(
        {
          map: 'africa_en',
          backgroundColor: '#a5bfdd',
          borderColor: '#818181',
          borderOpacity: 0.25,
          borderWidth: 1,
          color: '#f4f3f0',
          enableZoom: true,
          hoverColor: '#c9dfaf',
          hoverOpacity: null,
          normalizeFunction: 'linear',
          scaleColors: ['#b6d6ff', '#005ace'],
          selectedColor: '#c9dfaf',
          selectedRegions: 'ke',
          showTooltip: true,
          onRegionClick: function(element, code, region)
          {
            let countries = self.countries;
            let country = countries.filter(function (el) {
              // console.log(el.countryInfo.iso2, code)
              return el.countryInfo.iso2 == code.toUpperCase();
            });
            self.selected_country = country[0];
          },
          onLabelShow: function(event, label, code){
            let countries = self.countries;
            let country = countries.filter(function (el) {
              // console.log(el.countryInfo.iso2, code)
              return el.countryInfo.iso2 == code.toUpperCase();
            });
            let selected_country = country[0];
            let image_url = '<img src="'+selected_country.countryInfo.flag+'" class="img-fluid mr-3" style="height: 20px">'+selected_country.country;
            let text = image_url+"</br>Cases:"+selected_country.cases+'<br> Deaths: '+selected_country.deaths+'<br/>Active: '+selected_country.active +'</br>Recovered: '+selected_country.recovered;
            label.html(text);
          }
        });
    },
    testData: function(){
      console.log(this.countries);
      console.log('i have been clicked');
    },

  },

}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
