<template>
  <div class="content-body" id="cassava">
    <div class="container-fluid">
<!--      <div class="row">-->
      <div class="col-xs-12">
          <h3 class="text-muted text-center">Total Cases of Corona Virus in Africa</h3>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col">
            <div class="world-widget">
              <div class="icon gradient-1">
                <i class="fas fa-users"></i>
              </div>
              <div>
                <h5>Total Cases</h5>
                <h2>{{ total_cases }}</h2>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col">
            <div class="world-widget">
              <div class="icon gradient-9">
                <i class="fas fa-procedures"></i>
              </div>
              <div>
                <h5>Total Deaths</h5>
                <h2 >{{ total_deaths }}</h2>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col">
            <div class="world-widget">
              <div class="icon gradient-8">
                <i class="fas fa-head-side-cough"></i>
              </div>
              <div>
                <h5>Total Active</h5>
                <h2 >{{ total_active }}</h2>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col">
            <div class="world-widget">
              <div class="icon gradient-4">
                <i class="fas fa-child"></i>
              </div>
              <div>
                <h5>Total Recovered</h5>
                <h2 >{{ total_recovered }}</h2>
              </div>
            </div>
          </div>

        </div>
        <h3 class="text-muted text-center">Cases of Corona Virus by Country in Africa</h3>

        <div class="row pt-3">
          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
               <div class="country-statistics">
                 <h4>Top Cases</h4>
                 <ul class="alt-amin">
                   <li v-for="(country, index) in countries">
                     <span>{{ index + 1 }}&nbsp;&nbsp;
                     <img :src="country.countryInfo.flag" width="30">
                       {{ country.country }}
                     </span>
                     <span>  {{ country.cases }} </span>
                   </li>
                 </ul>
               </div>
           </div>

          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="country-statistics">
              <h4>Top Deaths</h4>
              <ul class="alt-amin">
                <li v-for="(country_death, index) in deaths">
                     <span>{{ index + 1 }}&nbsp;&nbsp;
                     <img :src="country_death.countryInfo.flag" width="30">
                       {{ country_death.country }}
                     </span>
                  <span>  {{ country_death.deaths }} </span>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="country-statistics">
              <h4>Top Active</h4>
              <ul class="alt-amin">
                <li v-for="(country, index) in active">
                     <span>{{ index + 1 }}&nbsp;&nbsp;
                     <img :src="country.countryInfo.flag" width="30">
                       {{ country.country }}
                     </span>
                  <span>  {{ country.active }} </span>
                </li>
              </ul>
            </div>
          </div>


          <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="country-statistics">
              <h4>Top Recovered</h4>
              <ul class="alt-amin">
                <li v-for="(country, index) in recovered">
                     <span>{{ index + 1 }}&nbsp;&nbsp;
                     <img :src="country.countryInfo.flag" width="30">
                       {{ country.country }}
                     </span>
                  <span>  {{ country.recovered }} </span>
                </li>
              </ul>
            </div>
          </div>

<!--          <div class="col-xs-10 col-lg-8 col-md-8 col-sm-6">-->
<!--            <div class="card">-->
<!--              <div class="card-body">-->

<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
         </div>
      </div>
<!--    </div>-->
   </div>
  </div>
</template>

<script>
    export default {
        name: "top-10-covid19-africa-cases",
      data(){
        return{
          countries: [],
          deaths: [],
          active: [],
          recovered: [],
          total_cases: 0,
          total_deaths: 0,
          total_active: 0,
          total_recovered: 0,
        }
      },
      head () {
        return {
          title: 'Covid 19 Cases in Africa by Cassavahub Limited ',
          meta: [
            // hid is used as unique identifier. Do not use `vmid` for it as it will not work
            { hid: 'description', name: 'description', content: 'Statistics on Total Corona Virus Cases in Africa, Status of Corona Virus By Country' }
          ]
        }
      },
      mounted(){
        fetch("https://corona.lmao.ninja/v2/countries")
          .then(response=>response.json())
          .then(response=> {
            let countries = '';

            countries = response.filter(function (el) {
               return el.continent == 'Africa';
            })
            // this.deaths = countries;
            let africa_countries = countries.slice(0,56);
            this.active = countries.slice(0,56);
            this.recovered = countries.slice(0,56);

           //active cases
            this.countries = countries.sort(function (a,b) {
              return b.cases - a.cases;
            });

            this.total_cases = this.countries.map(country => country.cases).reduce((prev, next) => prev + next);
            console.log('total is '+ this.total_cases);
            //number of deaths
            this.deaths = africa_countries.sort(function (a,b) {
              return  b.deaths  -  a.deaths ;
            })
            this.total_deaths = this.countries.map(country => country.deaths).reduce((prev, next) => prev + next);

            this.active = this.active.sort(function (a,b) {
              return b.active - a.active;
            })
            this.total_active = this.countries.map(country => country.active).reduce((prev, next) => prev + next);

            // // this.active = countries;
            //
            this.recovered = this.recovered.sort(function (a,b) {
              return b.recovered - a.recovered;
            })
            this.total_recovered = this.countries.map(country => country.recovered).reduce((prev, next) => prev + next);

            // this.recovered = countries;
          });
      }
    }
</script>

<style scoped>

</style>
